.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d ;
  perspective: 1000px;
  /* background-color: aqua; */
}
.container > div {
  position: absolute;
  /* transform: translate(-60px) rotateY(-75deg); */
  width: 300px;
  height: 200px;
  background-color: blue;
}
.container > div:nth-child(1){
  transform: translate(-60px) rotateY(-70deg);
}
.container > div:nth-child(2){
  transform: translate(-40px) rotateY(-70deg);
}
.container > div:nth-child(3){
  transform: translate(-20px) rotateY(-70deg);
}
.container > div:nth-child(4){
  transform: translate(0px) rotateY(-70deg);
}
.container > div:nth-child(5){
  transform: translate(20px) rotateY(-70deg);
}
.container > div:nth-child(6){
  transform: translate(40px) rotateY(-70deg);
}
.container > div:nth-child(7){
  transform: translate(60px) rotateY(-70deg);
}