

.container {
  position: relative;
  width: 1200px;
  height: 100vh;
  /* border: 1px solid #ffffff; */
  background-color: #cccccc;
}
.container > img {
  position: absolute;
  width: 200px;
}
.container > p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}